@import '@tpr/theming/lib/variables.scss';

.input {
	cursor: default;
}

.popup {
	display: none;
	flex: 0 0 auto;
	flex-direction: column;
	position: absolute;
	min-height: 1.875rem;
	height: auto;
	color: $black;
	background: white;
	width: 100%;
	max-height: 17.5rem;
	border: 0.0625rem solid #ddd;
	box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
	margin-top: 0.125rem;
	z-index: 10;
	overflow-x: auto;
	user-select: none;
	padding: 0;
}

.popup-isopen {
	display: block !important;
}

.relative {
	position: relative;
}

.iconButton {
	display: flex;
	align-items: center;
	position: absolute;
	background: white;
	top: 0.5625rem;
	right: 0.25rem;
	width: 1.875rem;
	height: 2rem;
	cursor: default;
	outline: none;
	border: 0.25rem solid transparent;

	svg {
		min-width: 1.5rem;
		min-height: 1.5rem;
	}
}

.iconButton:focus {
	border-color: $colors-neutral-7;
	box-shadow: 0 0 0 0.1875rem $colors-warning-1;
}

.iconButton:disabled {
	cursor: not-allowed;
}
