@import '@tpr/theming/lib/variables.scss';

.headerBackground {
	background: $colors-accents-2;
}

.logo {
	display: flex;
	flex: 0 0 auto;
	align-items: flex-start;
	justify-content: flex-start;
	width: $sidebar-width;
	border-right: 1px solid;
	border-color: $colors-accents-1;
	margin-right: $space-4;
	padding-left: $space-6;
}

.img {
	max-width: 180px;
}
