@import '@tpr/theming/lib/variables.scss';

fieldset {
  padding: 0;

	legend {
		float:left;   //position legend within the fieldset
	}
}

.label {
	display: flex;
	cursor: default;
}

.labelError {
	padding-left: $space-3;
	border-left: 4px solid $colors-danger-2;
}

.labelText {
	display: block;
	font-family: $fonts-sans-serif;
	color: $colors-neutral-8;
	font-weight: $font-weight-4;
	font-size: $font-size-2;
	margin-bottom: $space-1;
	white-space: normal;
	line-height: $line-height-3;
}

.hint {
	color: $colors-neutral-7;
	line-height: $line-height-3;
}

.errorMessage {
	color: $colors-danger-2;
	font-size: $font-size-2;
	font-weight: $font-weight-3;
	margin-bottom: $space-2;
	max-width: 100%;
	white-space: pre-line;
}
