@import '@tpr/theming/lib/variables.scss';

.h1 {
	font-family: $fonts-sans-serif;
	font-weight: $font-weight-2;
	font-size: $font-size-6;
	letter-spacing: 0px;
	line-height: 1em;
}

.h2 {
	font-family: $fonts-sans-serif;
	font-weight: $font-weight-2;
	font-size: $font-size-5;
	letter-spacing: 0px;
	line-height: 1em;
}

.h3 {
	font-family: $fonts-sans-serif;
	font-weight: $font-weight-1;
	font-size: $font-size-4;
	letter-spacing: 0px;
	line-height: 1em;
}

.h4 {
	font-family: $fonts-sans-serif;
	font-weight: $font-weight-3;
	font-size: $font-size-3;
	letter-spacing: 0px;
	line-height: 1em;
}

.h5 {
	font-family: $fonts-sans-serif;
	font-weight: $font-weight-2;
	font-size: $font-size-2;
	letter-spacing: 0px;
	line-height: 1em;
}

.h6 {
	font-family: $fonts-sans-serif;
	font-weight: $font-weight-2;
	font-size: $font-size-1;
	letter-spacing: 0px;
	line-height: 1em;
}

.p {
	font-family: $fonts-sans-serif;
	font-weight: $font-weight-2;
	font-size: $font-size-2;
	letter-spacing: 0px;
}

.span {
	font-family: $fonts-sans-serif;
	font-weight: $font-weight-2;
	font-size: $font-size-2;
	letter-spacing: 0px;
	line-height: 1em;
}

.hr {
	width: 100%;
	border-bottom: 1px solid $colors-neutral-6;
}

.bold {
	font-weight: $font-weight-3;
}
