@import '@tpr/theming/lib/variables.scss';

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: $colors-neutral-1;
	padding: $space-6 5px;
	margin-bottom: $space-3;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: -45px;
		width: 45px;
		height: 100%;
		background-color: $colors-neutral-1;
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: -40px;
		width: 40px;
		height: 100%;
		background-color: $colors-neutral-1;
	}
}

.inputWrapper {
	width: 160px;
	margin-bottom: $space-2;
}
