@import '@tpr/core/lib/components/typography/typography.module.scss';

div.confirm {
	p:last-child {
		@include removeMarginBottom;
	}
	margin-bottom: $space-3;
}

.actionButtons {
	.cancelButton {
		margin: $space-3;
	}
}
