@import '@tpr/core/lib/components/typography/typography.module.scss';
// typography.module.scss includes '@tpr/theming/lib/variables.scss'

$wcag-minimum-clickable-size: 2.75rem;
$focus-ring-width: 0.25rem;
$offset-text-to-vertical-centre: 0.6rem;

.outerWrapper {
	min-height: $wcag-minimum-clickable-size + $space-2;
}

.wrapper {
	cursor: pointer;
	user-select: none;

	.innerWrapper {
		position: relative;
		padding-top: $offset-text-to-vertical-centre;
	}

	// hidden input needs to be styled this way to correctly display the focus ring in Safari
	input[type='checkbox'] {
		width: $wcag-minimum-clickable-size + $focus-ring-width;
		height: $wcag-minimum-clickable-size + $focus-ring-width;
		transform: translateY(-$offset-text-to-vertical-centre);
	}

	input[type='checkbox']:focus + .checkbox {
		box-shadow: 0 0 0 $focus-ring-width #ffd300;
	}

	.checkbox {
		position: absolute;
		top: 0;
		left: 0;
		min-width: $wcag-minimum-clickable-size;
		min-height: $wcag-minimum-clickable-size;
	}

	.label {
		padding-left: $wcag-minimum-clickable-size + $space-3;
		@include removeMarginBottom;
	}
}

.styledCheckboxWrapper:disabled {
	cursor: not-allowed;
}

.hint {
	color: $colors-neutral-7;
	line-height: $line-height-3;
	font-size: $font-size-2;
	font-weight: $font-weight-2;
	margin-top: $space-2;
	padding-left: $wcag-minimum-clickable-size + $space-3;
	margin-bottom: 0;
}

.inline {
	display: flex;
	flex-direction: row;

	& > div {
		margin-right: $space-8;
	}
}
