@import '@tpr/theming/lib/variables.scss';

.wrapper {
	display: flex;
	flex: 0 0 auto;
	align-items: center;
	line-height: 1.4;
	cursor: pointer;
	user-select: none;

	input[type='checkbox']:focus + .checkbox {
		box-shadow: 0 0 0 4px #ffd300;
	}

	input[type='checkbox']:checked + .checkbox {
		// outline: 2px dashed orange;
	}

	.checkbox {
		// outline: 1px dashed red;
	}
}

.styledCheckboxWrapper:disabled {
	cursor: not-allowed;
}

.hint {
	color: $colors-neutral-7;
	line-height: $line-height-3;
	font-size: $font-size-2;
	font-weight: $font-weight-2;
	margin-top: $space-2;
	margin-left: 55px;
	margin-bottom: 0;
}

.label {
	margin-bottom: 0;
}
