@import '@tpr/core/lib/components/typography/typography.module.scss';
// typography.module.scss includes '@tpr/theming/lib/variables.scss'

$wcag-minimum-clickable-size: 2.75rem;

.outerWrapper {
	min-height: $wcag-minimum-clickable-size + $space-2;
}

.wrapper {
	cursor: pointer;
	user-select: none;

	.innerWrapper {
		position: relative;
		padding-top: 0.6rem;
	}

	input[type='checkbox']:focus + .checkbox {
		box-shadow: 0 0 0 0.25rem #ffd300;
	}

	.checkbox {
		position: absolute;
		top: 0;
		left: 0;
		min-width: $wcag-minimum-clickable-size;
		min-height: $wcag-minimum-clickable-size;
	}

	.label {
		padding-left: $wcag-minimum-clickable-size + $space-3;
		@include removeMarginBottom;
	}
}

.styledCheckboxWrapper:disabled {
	cursor: not-allowed;
}

.hint {
	color: $colors-neutral-7;
	line-height: $line-height-3;
	font-size: $font-size-2;
	font-weight: $font-weight-2;
	margin-top: $space-2;
	padding-left: $wcag-minimum-clickable-size + $space-3;
	margin-bottom: 0;
}

.inline {
	display: flex;
	flex-direction: row;

	& > div {
		margin-right: $space-8;
	}
}
