@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		url(./assets/fonts/open-sans-regular.woff2) format('woff2');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
		url(./assets/fonts/open-sans-semi-bold.woff2) format('woff2');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Open Sans Bold'), local('OpenSans-Bold'),
		url(./assets/fonts/open-sans-bold.woff2) format('woff2');
}

/**** SCREEN SETTINGS ****/
/**** COLORS ****/
/* colors primary */
/* colors neutral */
/* colors accents */
/* colors success */
/* colors warning */
/* colors danger */
/**** FONTS ****/
/**** SPACE ****/
/**** FONT SIZES ****/
/**** FONT WEIGHTS ****/
.richTextEditor_editorFontStack__3RH-q {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
}
.richTextEditor_editorFontStack__3RH-q h1 {
	font-size: 2.8125rem;
}
.richTextEditor_editorFontStack__3RH-q h2 {
	font-size: 2.25rem;
}
.richTextEditor_editorFontStack__3RH-q h3 {
	font-size: 1.4375rem;
}
.richTextEditor_editorFontStack__3RH-q h4 {
	font-size: 1.125rem;
}
.richTextEditor_editorFontStack__3RH-q h5 {
	font-size: 1rem;
}
.richTextEditor_editorFontStack__3RH-q h6 {
	font-size: 0.875rem;
}
.richTextEditor_editorFontStack__3RH-q p {
	font-size: 1rem;
}
.richTextEditor_editorFontStack__3RH-q b {
	font-weight: 600;
}
.richTextEditor_editorFontStack__3RH-q strong {
	font-weight: 600;
}
.richTextEditor_editorFontStack__3RH-q span {
	font-size: 1rem;
}
.richTextEditor_editorFontStack__3RH-q i {
	font-style: italic;
}
.richTextEditor_editorFontStack__3RH-q u {
	text-decoration: underline;
}
.richTextEditor_editorFontStack__3RH-q del {
	text-decoration: line-through;
}
.richTextEditor_editorFontStack__3RH-q blockquote {
	background: #b1b4b6;
}

* {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	-webkit-font-smoothing: auto;
	font-weight: inherit;
	text-decoration: none;
	text-rendering: optimizeLegibility;
	-webkit-appearance: none;
	-moz-appearance: none;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
