@import '@tpr/theming/lib/variables.scss';

.link {
	display: inline-block;
	background: transparent;
	border: none;
	color: $colors-primary-3;
	font-family: $fonts-sans-serif;
	font-size: $font-size-2;
	font-weight: $font-weight-3;
	text-decoration: underline;
	cursor: pointer;

	&:hover {
		color: $colors-neutral-a1;
	}

	&:disabled {
		color: $colors-neutral-6;
		text-decoration: none;
		cursor: not-allowed;
	}

	&:visited {
		color: $colors-accents-2;
		background-color: $colors-warning-1;
	}

	&:focus {
		color: $colors-neutral-8;
		background: $colors-warning-1;
		outline: none;
		text-decoration: none;
		box-shadow: 0 -0.125rem $colors-warning-1, 0 0.25rem $colors-neutral-8;
	}
}

.hint {
	margin-left: $space-1;
}
