@import '@tpr/theming/lib/variables.scss';

.wrapper {
	background-color: $colors-neutral-3;
	border-top: 5px solid $colors-neutral-a2;
}

.footerText {
	align-items: center;
	height: 50px;
	border-top: 2px solid $colors-neutral-4;
}
