@import '@tpr/theming/lib/variables.scss';

.footer {
	background-color: $colors-neutral-1;
	justify-content: center;
	border-top: 5px solid #777;
}

.logo {
	display: flex;
	flex: 0 0 auto;
	align-items: flex-start;
	justify-content: flex-start;
	width: 180px;
	margin: $space-4;
	margin-right: 100px;
}

.lowerPart {
	align-items: center;
	height: 50px;
	border-top: 1px solid $colors-neutral-2;
}

.img {
	width: 100%;
}
