.removepadding {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.crossButton {
	display: grid;
	grid-template-areas: 'button';

	> * {
		grid-area: button;
	}
	button {
		opacity: 0;
		width: 20px;
		height: 20px;
		cursor: pointer;
	}
}
