@import '@tpr/theming/lib/variables.scss';
@import '@tpr/theming/lib/accessibility.module.scss';

.helpLink {
	margin-bottom: $space-4;
}

.helpLink button[aria-expanded] {
	display: inline-block;
	border: none;
	background: none;
	color: $colors-primary-3;
	text-decoration: underline;
	font-family: $fonts-sans-serif;
	font-weight: $font-weight-2;
	font-size: $font-size-2;
	cursor: pointer;
	padding-top: $space-1;
	padding-bottom: $space-1;
}

.helpLink button[aria-expanded]:hover {
	color: $colors-neutral-a1;
}

.helpLink button[aria-expanded]:focus {
	color: $colors-neutral-8;
	background: $colors-warning-1;
	outline: none;
	text-decoration: none;
	box-shadow: 0 -0.125rem $colors-warning-1, 0 0.25rem $colors-neutral-8;
}

.helpLink [aria-expanded] svg {
	width: 1.5rem;
	height: 1.5rem;
	fill: $colors-primary-3;
	position: relative;
	top: 0.375rem;
}

.helpLink [aria-expanded='true'] svg {
	transform: rotate(180deg);
}

.helpLinkContent {
	margin-top: $space-3;
}
