@import '@tpr/theming/lib/variables.scss';

.content {
	display: flex;
	flex-direction: column;
	border-left: 5px solid;
	border-color: $colors-danger-2;
	padding: 0 40px 20px 40px;
}

.complete {
	border-color: $colors-success-2;
}
