@import '@tpr/theming/lib/variables.scss';

.inputSmall {
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
	margin-right: $space-4;
}

.inputSmall input {
	width: 3.5em;
}

.inputLarge {
	display: flex;
	flex: 0 0 auto;
	flex-direction: column;
}

.inputLarge input {
	width: 4.5em;
}
