@import '@tpr/theming/lib/variables.scss';

.info {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: $space-6;
	background: $colors-neutral-3;
	color: $colors-neutral-7;
}

.important {
	margin-top: $space-8;
	border-top: 0.375rem solid $colors-neutral-8;
}

.importantMessage {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: $font-size-3;
	position: absolute;
	left: 0;
	height: 2.875rem;
	top: -3rem;
	padding: 0 $space-6;
	background: $colors-neutral-8;
	color: $white;
	font-weight: normal;
}
