@import '@tpr/theming/lib/variables.scss';

.button {
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.button + .button {
	margin-left: 15px;
}

/* 'primary' | 'secondary' | 'link' | 'outlined'; */

.appearance-primary {
	color: $white;
	border: none;
	border-radius: 8px;

	&:hover {
		background: $colors-accents-2;
	}

	&:focus {
		background: $colors-warning-1;
		color: $colors-neutral-8;
		box-shadow: 0px 2px 0px $colors-neutral-8;
		outline: none;
	}

	&:disabled {
		cursor: not-allowed !important;
		background: $colors-primary-a1;

		&:hover {
			background: $colors-primary-a1 !important;
		}
	}
}

.appearance-secondary {
	color: $white;
	background: $colors-primary-3 !important;
	border: none;
	border-radius: 8px;

	&:focus {
		background: $colors-warning-1 !important;
		color: $colors-neutral-8;
		box-shadow: 0px 2px 0px $colors-neutral-8;
		outline: none;
	}

	&:disabled {
		cursor: not-allowed !important;
		background: $colors-primary-1 !important;
	}
}

.appearance-outlined {
	border: 2px solid $colors-primary-3;
	background: transparent !important;
	border-radius: 6px;

	&.intent-black {
		color: $black;

		&:hover {
			color: $white !important;
		}
	}

	&:disabled {
		color: $colors-neutral-6;
		cursor: not-allowed !important;
		border: 2px solid $colors-neutral-6;

		&:hover {
			color: $colors-neutral-6;
			background: none !important;
			border: 2px solid $colors-neutral-6 !important;
		}
	}
}

/* 'none' | 'success' | 'warning' | 'danger' | 'special' | 'white'; */
.intent-none {
	background: $colors-primary-a2;
	border-color: $colors-primary-a2;

	&:hover {
		background: $colors-accents-2 !important;
		border-color: $colors-accents-2 !important;
		color: $white;
	}

	&.appearance-secondary:hover {
		background: $colors-neutral-a1 !important;

		&:disabled {
			background: $colors-primary-1 !important;
		}
	}

	&.appearance-outlined:hover {
		background: $colors-primary-a2 !important;
		border-color: $colors-primary-a2 !important;

		&:disabled {
			background: none !important;
			border-color: $colors-neutral-6 !important;
		}
	}
}

.intent-success {
	background: $colors-success-1;
	border-color: $colors-success-1;

	&:hover {
		background: $colors-success-1 !important;
		border-color: $colors-success-1 !important;
		color: $white;
	}
}

.intent-warning {
	background: $colors-danger-2;
	border-color: $colors-danger-2;

	&:hover {
		background: $colors-danger-3 !important;
		border-color: $colors-danger-3 !important;
		color: $white;
	}

	&:focus {
		color: $colors-neutral-8;
	}

	&:disabled {
		cursor: not-allowed !important;
		background: $colors-danger-1;

		&:hover {
			background: $colors-danger-1 !important;
		}
	}
}

.intent-danger {
	background: $colors-danger-2;
	border-color: $colors-danger-2;

	&:hover {
		background: $colors-danger-2 !important;
		color: $white;
	}
}

.intent-special {
	background: $colors-primary-a2;
	border-color: $colors-primary-a2;

	&:hover {
		background: $colors-accents-2 !important;
		border-color: $colors-accents-2 !important;
		color: $white;
	}
}

.intent-white {
	background: $white;
	color: $colors-neutral-8;
	border-color: $colors-neutral-8;

	&:hover {
		background: $white !important;
	}
}

.intent-black {
	background: $black;
	color: $colors-neutral-1;
	border-color: $black;

	&:hover {
		background: $black !important;
	}
}

/* 'small' | 'medium' | 'large'; */

.size-small {
	font-size: $font-size-1;
	text-align: center;
	height: 40px;
	padding: 0 15px;
}

.size-medium {
	font-weight: $font-weight-2;
	font-size: $font-size-2;
	text-align: center;
	height: 50px;
	padding: 0 28px;
}

.size-large {
	font-weight: $font-weight-3;
	font-size: $font-size-3;
	text-align: center;
	height: 60px;
	padding: 0 38px;
}
