@import '@tpr/core/lib/components/typography/typography.module.scss';
// typography.module.scss includes '@tpr/theming/lib/variables.scss'

.tasklist {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	width: 100%;
	background: $white;
	padding-left: $space-6;

	a {
		text-decoration: none;
		width: 100%;

		&:hover {
			color: $colors-neutral-a1 !important;
			text-decoration: underline;
		}

		&:focus {
			color: $colors-neutral-8 !important;
		}

		> div {
			height: 100%;
		}

		&.reviewLink {
			text-decoration: underline;
			line-height: 1.565em;
			text-align: left;
			color: $colors-primary-3;
			font-weight: 600;
		}
	}

	.taskStatus {
		font-size: $font-size-2;
		font-weight: bold;
		text-transform: uppercase;
		padding: 0.5rem;

		&.complete {
			background-color: $colors-primary-3;
			color: $white;
		}
		&.incomplete,
		&.disabled {
			background-color: $colors-neutral-3;
			color: $colors-neutral-8;
		}
	}

	.taskDisabled {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		font-family: $fonts-sans-serif;
		font-size: $font-size-2;
		font-weight: $font-weight-3;
		color: $colors-neutral-a2;
	}

	.taskName {
		padding: 0.4375rem 0;
	}

	div.taskWrapper {
		position: relative;
	}

	.taskWrapperInner {
		justify-content: space-between;
		width: 100%;
	}

	div[aria-current] {
		a {
			&:focus {
				color: $colors-neutral-8 !important;
				text-decoration: none;
			}
		}
	}
}

.list {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		margin: 0;
		padding: 0;
	}
}

.label {
	@include removeMarginBottom;
}
