@import '@tpr/core/lib/components/typography/typography.module.scss';
// typography.module.scss includes '@tpr/theming/lib/variables.scss'

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	border: 0.0625rem solid $colors-neutral-4;
	box-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.2);
	margin-bottom: $space-6;

	.cardToolbar {
		display: flex;
		flex-direction: row;
		flex: 0 0 auto;
		min-height: 6.25rem;
		padding: $space-4;
		border-left: 0.3125rem solid;
		border-color: $colors-danger-2;

		.divider {
			width: 0.0625rem;
			background-color: $colors-neutral-6;
			height: 50%;
			margin: 0 $space-4;
			max-height: $space-6;
		}

		.personOrCompanyName {
			@include styled-as-h4;
			@include removeMarginBottom;
			line-height: $line-height-3;
			word-break: break-all;
		}

		.personOrCompanyRole {
			@include removeMarginBottom;
			line-height: $line-height-3;
			word-break: break-all;
		}
	}

	.section {
		width: 50%;
		flex: 0 0 auto;
		flex-direction: column;
	}

	.removeSection {
		flex-direction: row;
		justify-content: flex-end;
		align-items: flex-start;
	}

	.content {
		display: flex;
		flex-direction: column;
		border-left: 0.3125rem solid;
		border-color: $colors-danger-2;
		padding: 0 $space-4 $space-4 $space-4;

		.emailPhonePreviewLabel {
			@include styled-as-h4;
			@include removeMarginBottom;
			line-height: $line-height-3;
		}

		.emailPhonePreviewValue {
			@include removeMarginBottom;
			line-height: $line-height-3;
			word-break: break-all;
		}

		.identifierItem {
			flex-direction: column;

			.title {
				@include styled-as-h4;
				@include removeMarginBottom;
				line-height: $line-height-3;
			}

			.number {
				@include removeMarginBottom;
			}
		}

		.isProfessional,
		.appointedByRegulator,
		.insurerCompanyRef {
			@include removeMarginBottom;
		}
	}

	.complete {
		border-left-color: $colors-success-1;
	}
}

@media (min-width: 40em) {
	.card {
		.cardToolbar {
			padding: $space-8 $space-8 $space-4 $space-8;
		}

		.content {
			padding: 0 $space-8 $space-4 $space-8;
		}
	}
}
