@import '@tpr/theming/lib/variables.scss';

.nonEditable {
	margin: 0 0 $space-3;
}

/* Ensure there is a space for the data even if the field is empty */
.nonEditableText::after {
	content: ' ';
	display: inline-block;
}

.editPostcode {
	width: 7em;
}

.changePostcode {
	margin-left: $space-6;
}

.nonEditableLabel {
	margin: 0 0 $space-1;
}

.button {
	display: block;
	margin-top: $space-2;
}

.arrowButton {
	padding: 0;
}

.changeAddress {
	margin-top: $space-5;
}
