@import '@tpr/core/lib/components/typography/typography.module.scss';

@mixin button-base {
	text-align: left;
	background: transparent;
	box-shadow: none;
	border: none;
	border-bottom: 0.0625rem solid;
	padding: 0 0 0.25rem 0;
	width: 100%;
	min-height: $space-5;
}

@mixin button-focus {
	background-color: $colors-warning-1;
	box-shadow: 0 -0.125rem $colors-warning-1, 0 0.25rem $colors-neutral-8;
	border-color: transparent;
	outline: none;
	color: $colors-neutral-8;
}

.button {
	@include button-base;
	cursor: pointer;
	color: $colors-primary-3;
	border-bottom-color: $colors-primary-3;

	p {
		color: $colors-primary-3;
		@include removeMarginBottom;
	}

	svg {
		min-width: 1.5rem;
		min-height: 1.5rem;
	}

	&:focus {
		@include button-focus;

		.editButton {
			.text {
				color: $colors-neutral-8;
			}
		}
		svg {
			fill: $colors-neutral-8;
		}
	}
}

.button:disabled {
	color: $colors-neutral-6;
	border-bottom: 0.125rem solid $colors-neutral-6;
	cursor: not-allowed;
}

.buttonPlaceholder {
	@include button-base;
	cursor: default;
	color: $colors-neutral-7;
	border-bottom-color: $colors-neutral-7;
	margin-bottom: $space-2;

	p {
		@include removeMarginBottom;
	}
}

.arrowSpacing {
	justify-content: space-between;
}

.editButton {
	.text {
		font-size: $font-size-2;
		font-weight: $font-weight-3;
	}
}

.heading3 {
	font-size: $font-size-3;
	font-weight: $font-weight-3;
	margin-bottom: $space-1;
}

.heading4 {
	font-size: $font-size-2;
	font-weight: $font-weight-3;
	width: 100%;

	&.headingButton {
		margin-bottom: $space-2;
	}
}

:export {
	arrowColor: $colors-primary-3;
}
