@import '@tpr/core/lib/components/typography/typography.module.scss';
// typography.module.scss includes '@tpr/theming/lib/variables.scss'

@mixin button-base {
	text-align: left;
	background: transparent;
	box-shadow: none;
	border: none;
	border-bottom: 1px solid;
	padding: 0 0 4px 0;
	width: 100%;
	min-height: $space-5;
}

.button {
	@include button-base;
	cursor: pointer;
	color: $colors-primary-3;
	border-bottom-color: $colors-primary-3;

	p {
		color: $colors-primary-3;
		@include removeMarginBottom;
	}
}

.button:hover {
	color: $colors-primary-3;
	border-bottom-color: $colors-primary-3;
}

.button:disabled {
	color: $colors-neutral-6;
	border-bottom: 2px solid $colors-neutral-6;
	cursor: not-allowed;
}

.buttonPlaceholder {
	@include button-base;
	cursor: default;
	color: $colors-neutral-7;
	border-bottom-color: $colors-neutral-7;

	p {
		@include removeMarginBottom;
	}
}

.arrowSpacing{
	justify-content: space-between;
}

.arrowButtonEdit{
	font-size: 16px;
}

:export {
	arrowColor: $colors-primary-3;
}
