@import '@tpr/theming/lib/variables.scss';

.button {
	text-align: left;
	background: transparent;
	box-shadow: none;
	border: none;
	cursor: pointer;
	color: $colors-primary-3;
	border-bottom: 1px solid;
	border-bottom-color: $colors-primary-3;
	padding: 0 0 4px 2px;
	width: 100%;
	height: $space-5;
	min-height: $space-5;

	p {
		color: $colors-primary-3;
	}
}

.button:hover {
	color: $colors-primary-3;
	border-bottom-color: $colors-primary-3;
}

.button:disabled {
	color: $colors-neutral-6;
	border-bottom: 2px solid $colors-neutral-6;
	cursor: not-allowed;
}

.buttonPlaceholder {
	text-align: left;
	background: transparent;
	box-shadow: none;
	border: none;
	cursor: default;
	color: $colors-neutral-7;
	border-bottom: 1px solid;
	border-bottom-color: $colors-neutral-7;
	padding: 0 0 4px 2px;
	width: 100%;
	height: $space-5;

	// IE ignores the height property if the height of the sibling and parent elements are not specified too.
	// in order to make it a fixed height of $space-5 we use min-height and max-height
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		min-height: $space-5;
		max-height: $space-5;
	}
}
