@import '../cards.module.scss';

.toolbarBottomBorder {
	border-bottom: 0.625rem solid $colors-neutral-6;

	.sectionTitle {
		color: $colors-neutral-6;
		font-size: $font-size-3;
		@include removeMarginBottom;
	}

	.subtitle {
		color: $colors-neutral-7;
		@include removeMarginBottom;
	}

	.heading {
		@include styled-as-h3;
		font-weight: $font-weight-3;

		&.noSubSection {
			line-height: $line-height-3;
		}
	}
}

.statusMsg {
	align-items: center;
	height: 1.5em;

	.paragraph {
		margin-left: $space-1;
		font-size: $font-size-2;
		font-weight: $font-weight-3;
		@include removeMarginBottom;
	}
}

.footer {
	flex: 0 0 auto;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
}

:export {
	confirmed: $colors-confirmed;
	unconfirmed: $colors-unconfirmed;
}
