@import '@tpr/theming/lib/variables.scss';
@import '../cards.module.scss';

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	border: 1px solid #ddd;
	margin-bottom: 20px;
	border-left: 6px solid;
	border-left-color: $colors-danger-2;
}

.card-complete {
	border-left-color: $colors-success-1;
}

.cardToolbar {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	justify-content: space-evenly;
	align-items: flex-start;
}

.toolbarBottomBorder {
	border-bottom: 1px solid $colors-neutral-6;
}

:export {
	confirmed : $colors-confirmed;
	unconfirmed : $colors-unconfirmed;
}
