@import '@tpr/theming/lib/variables.scss';

/* FLEX */

.flex {
	display: flex;
}

.flex-1-1-auto {
	flex: 1 1 auto;
}

.flex-1-0-auto {
	flex: 1 0 auto;
}

.flex-0-0-auto {
	flex: 0 0 auto;
}

.flex-0-1-auto {
	flex: 0 1 auto;
}

.flexDirection-column {
	flex-direction: column;
}

.flexDirection-row {
	flex-direction: row;
}

.alignItems-center {
	align-items: center;
}

.alignItems-flex-start {
	align-items: flex-start;
}

.alignItems-flex-end {
	align-items: flex-end;
}

.justifyContent-center {
	justify-content: center;
}

.justifyContent-flex-start {
	justify-content: flex-start;
}

.justifyContent-flex-end {
	justify-content: flex-end;
}

.justifyContent-space-between {
	justify-content: space-between;
}

.justifyContent-space-around {
	justify-content: space-around;
}

.justifyContent-space-evenly {
	justify-content: space-evenly;
}

/* LAYOUT */

.width-1 {
	width: 10%;
}

.width-2 {
	width: 20%;
}

.width-3 {
	width: 30%;
}

.width-4 {
	width: 40%;
}

.width-5 {
	width: 50%;
}

.width-6 {
	width: 60%;
}

.width-7 {
	width: 70%;
}

.width-8 {
	width: 80%;
}

.width-9 {
	width: 90%;
}

.width-10 {
	width: 100%;
}

/* SPACE */

/* margin */

.m-1 {
	margin: $space-1 !important;
}
.m-2 {
	margin: $space-2 !important;
}
.m-3 {
	margin: $space-3 !important;
}
.m-4 {
	margin: $space-4 !important;
}
.m-5 {
	margin: $space-5 !important;
}
.m-6 {
	margin: $space-6 !important;
}
.m-7 {
	margin: $space-7 !important;
}
.m-8 {
	margin: $space-8 !important;
}
.m-9 {
	margin: $space-9 !important;
}
.m-10 {
	margin: $space-10 !important;
}

/* margin top */

.mt-1 {
	margin-top: $space-1 !important;
}
.mt-2 {
	margin-top: $space-2 !important;
}
.mt-3 {
	margin-top: $space-3 !important;
}
.mt-4 {
	margin-top: $space-4 !important;
}
.mt-5 {
	margin-top: $space-5 !important;
}
.mt-6 {
	margin-top: $space-6 !important;
}
.mt-7 {
	margin-top: $space-7 !important;
}
.mt-8 {
	margin-top: $space-8 !important;
}
.mt-9 {
	margin-top: $space-9 !important;
}
.mt-10 {
	margin-top: $space-10 !important;
}

/* margin right */

.mr-1 {
	margin-right: $space-1 !important;
}
.mr-2 {
	margin-right: $space-2 !important;
}
.mr-3 {
	margin-right: $space-3 !important;
}
.mr-4 {
	margin-right: $space-4 !important;
}
.mr-5 {
	margin-right: $space-5 !important;
}
.mr-6 {
	margin-right: $space-6 !important;
}
.mr-7 {
	margin-right: $space-7 !important;
}
.mr-8 {
	margin-right: $space-8 !important;
}
.mr-9 {
	margin-right: $space-9 !important;
}
.mr-10 {
	margin-right: $space-10 !important;
}

/* margin bottom */

.mb-1 {
	margin-bottom: $space-1 !important;
}
.mb-2 {
	margin-bottom: $space-2 !important;
}
.mb-3 {
	margin-bottom: $space-3 !important;
}
.mb-4 {
	margin-bottom: $space-4 !important;
}
.mb-5 {
	margin-bottom: $space-5 !important;
}
.mb-6 {
	margin-bottom: $space-6 !important;
}
.mb-7 {
	margin-bottom: $space-7 !important;
}
.mb-8 {
	margin-bottom: $space-8 !important;
}
.mb-9 {
	margin-bottom: $space-9 !important;
}
.mb-10 {
	margin-bottom: $space-10 !important;
}

/* margin left */

.ml-1 {
	margin-left: $space-1 !important;
}
.ml-2 {
	margin-left: $space-2 !important;
}
.ml-3 {
	margin-left: $space-3 !important;
}
.ml-4 {
	margin-left: $space-4 !important;
}
.ml-5 {
	margin-left: $space-5 !important;
}
.ml-6 {
	margin-left: $space-6 !important;
}
.ml-7 {
	margin-left: $space-7 !important;
}
.ml-8 {
	margin-left: $space-8 !important;
}
.ml-9 {
	margin-left: $space-9 !important;
}
.ml-10 {
	margin-left: $space-10 !important;
}

/* margin vertical */

.my-1 {
	margin-top: $space-1 !important;
	margin-bottom: $space-1 !important;
}
.my-2 {
	margin-top: $space-2 !important;
	margin-bottom: $space-2 !important;
}
.my-3 {
	margin-top: $space-3 !important;
	margin-bottom: $space-3 !important;
}
.my-4 {
	margin-top: $space-4 !important;
	margin-bottom: $space-4 !important;
}
.my-5 {
	margin-top: $space-5 !important;
	margin-bottom: $space-5 !important;
}
.my-6 {
	margin-top: $space-6 !important;
	margin-bottom: $space-6 !important;
}
.my-7 {
	margin-top: $space-7 !important;
	margin-bottom: $space-7 !important;
}
.my-8 {
	margin-top: $space-8 !important;
	margin-bottom: $space-8 !important;
}
.my-9 {
	margin-top: $space-9 !important;
	margin-bottom: $space-9 !important;
}
.my-10 {
	margin-top: $space-10 !important;
	margin-bottom: $space-10 !important;
}

/* margin horizontal */

.mx-1 {
	margin-left: $space-1 !important;
	margin-right: $space-1 !important;
}
.mx-2 {
	margin-left: $space-2 !important;
	margin-right: $space-2 !important;
}
.mx-3 {
	margin-left: $space-3 !important;
	margin-right: $space-3 !important;
}
.mx-4 {
	margin-left: $space-4 !important;
	margin-right: $space-4 !important;
}
.mx-5 {
	margin-left: $space-5 !important;
	margin-right: $space-5 !important;
}
.mx-6 {
	margin-left: $space-6 !important;
	margin-right: $space-6 !important;
}
.mx-7 {
	margin-left: $space-7 !important;
	margin-right: $space-7 !important;
}
.mx-8 {
	margin-left: $space-8 !important;
	margin-right: $space-8 !important;
}
.mx-9 {
	margin-left: $space-9 !important;
	margin-right: $space-9 !important;
}
.mx-10 {
	margin-left: $space-10 !important;
	margin-right: $space-10 !important;
}

/* padding */

.p-1 {
	padding: $space-1 !important;
}
.p-2 {
	padding: $space-2 !important;
}
.p-3 {
	padding: $space-3 !important;
}
.p-4 {
	padding: $space-4 !important;
}
.p-5 {
	padding: $space-5 !important;
}
.p-6 {
	padding: $space-6 !important;
}
.p-7 {
	padding: $space-7 !important;
}
.p-8 {
	padding: $space-8 !important;
}
.p-9 {
	padding: $space-9 !important;
}
.p-10 {
	padding: $space-10 !important;
}

/* padding top */

.pt-1 {
	padding-top: $space-1 !important;
}
.pt-2 {
	padding-top: $space-2 !important;
}
.pt-3 {
	padding-top: $space-3 !important;
}
.pt-4 {
	padding-top: $space-4 !important;
}
.pt-5 {
	padding-top: $space-5 !important;
}
.pt-6 {
	padding-top: $space-6 !important;
}
.pt-7 {
	padding-top: $space-7 !important;
}
.pt-8 {
	padding-top: $space-8 !important;
}
.pt-9 {
	padding-top: $space-9 !important;
}
.pt-10 {
	padding-top: $space-10 !important;
}

/* padding right */

.pr-1 {
	padding-right: $space-1 !important;
}
.pr-2 {
	padding-right: $space-2 !important;
}
.pr-3 {
	padding-right: $space-3 !important;
}
.pr-4 {
	padding-right: $space-4 !important;
}
.pr-5 {
	padding-right: $space-5 !important;
}
.pr-6 {
	padding-right: $space-6 !important;
}
.pr-7 {
	padding-right: $space-7 !important;
}
.pr-8 {
	padding-right: $space-8 !important;
}
.pr-9 {
	padding-right: $space-9 !important;
}
.pr-10 {
	padding-right: $space-10 !important;
}

/* padding bottom */

.pb-1 {
	padding-bottom: $space-1 !important;
}
.pb-2 {
	padding-bottom: $space-2 !important;
}
.pb-3 {
	padding-bottom: $space-3 !important;
}
.pb-4 {
	padding-bottom: $space-4 !important;
}
.pb-5 {
	padding-bottom: $space-5 !important;
}
.pb-6 {
	padding-bottom: $space-6 !important;
}
.pb-7 {
	padding-bottom: $space-7 !important;
}
.pb-8 {
	padding-bottom: $space-8 !important;
}
.pb-9 {
	padding-bottom: $space-9 !important;
}
.pb-10 {
	padding-bottom: $space-10 !important;
}

/* padding left */

.pl-1 {
	padding-left: $space-1 !important;
}
.pl-2 {
	padding-left: $space-2 !important;
}
.pl-3 {
	padding-left: $space-3 !important;
}
.pl-4 {
	padding-left: $space-4 !important;
}
.pl-5 {
	padding-left: $space-5 !important;
}
.pl-6 {
	padding-left: $space-6 !important;
}
.pl-7 {
	padding-left: $space-7 !important;
}
.pl-8 {
	padding-left: $space-8 !important;
}
.pl-9 {
	padding-left: $space-9 !important;
}
.pl-10 {
	padding-left: $space-10 !important;
}

/* padding vertical */

.py-1 {
	padding-top: $space-1 !important;
	padding-bottom: $space-1 !important;
}
.py-2 {
	padding-top: $space-2 !important;
	padding-bottom: $space-2 !important;
}
.py-3 {
	padding-top: $space-3 !important;
	padding-bottom: $space-3 !important;
}
.py-4 {
	padding-top: $space-4 !important;
	padding-bottom: $space-4 !important;
}
.py-5 {
	padding-top: $space-5 !important;
	padding-bottom: $space-5 !important;
}
.py-6 {
	padding-top: $space-6 !important;
	padding-bottom: $space-6 !important;
}
.py-7 {
	padding-top: $space-7 !important;
	padding-bottom: $space-7 !important;
}
.py-8 {
	padding-top: $space-8 !important;
	padding-bottom: $space-8 !important;
}
.py-9 {
	padding-top: $space-9 !important;
	padding-bottom: $space-9 !important;
}
.py-10 {
	padding-top: $space-10 !important;
	padding-bottom: $space-10 !important;
}

/* padding horizontal */

.px-1 {
	padding-left: $space-1 !important;
	padding-right: $space-1 !important;
}
.px-2 {
	padding-left: $space-2 !important;
	padding-right: $space-2 !important;
}
.px-3 {
	padding-left: $space-3 !important;
	padding-right: $space-3 !important;
}
.px-4 {
	padding-left: $space-4 !important;
	padding-right: $space-4 !important;
}
.px-5 {
	padding-left: $space-5 !important;
	padding-right: $space-5 !important;
}
.px-6 {
	padding-left: $space-6 !important;
	padding-right: $space-6 !important;
}
.px-7 {
	padding-left: $space-7 !important;
	padding-right: $space-7 !important;
}
.px-8 {
	padding-left: $space-8 !important;
	padding-right: $space-8 !important;
}
.px-9 {
	padding-left: $space-9 !important;
	padding-right: $space-9 !important;
}
.px-10 {
	padding-left: $space-10 !important;
	padding-right: $space-10 !important;
}

/* typograpgy */

.fontSize-1 {
	font-size: $font-size-1 !important;
}

.fontSize-2 {
	font-size: $font-size-2 !important;
}

.fontSize-3 {
	font-size: $font-size-3 !important;
}

.fontSize-4 {
	font-size: $font-size-4 !important;
}

.fontSize-5 {
	font-size: $font-size-5 !important;
}

.fontSize-6 {
	font-size: $font-size-6 !important;
}

.textAlign-left {
	text-align: left !important;
}

.textAlign-right {
	text-align: right !important;
}

.textAlign-center {
	text-align: center !important;
}

/* font weights */
.fontWeight-2 {
	font-weight: $font-weight-2 !important;
}

.fontWeight-3 {
	font-weight: $font-weight-3 !important;
}

.fontWeight-4 {
	font-weight: $font-weight-4 !important;
}

/* line heights */

.lineHeight-1 {
	line-height: $line-height-1 !important;
}

.lineHeight-2 {
	line-height: $line-height-2 !important;
}

.lineHeight-3 {
	line-height: $line-height-3 !important;
}

.lineHeight-4 {
	line-height: $line-height-4 !important;
}

.lineHeight-5 {
	line-height: $line-height-5 !important;
}

.lineHeight-6 {
	line-height: $line-height-6 !important;
}

/* word breaks */

.wordBreak-all {
	word-break: break-all !important;
}

.wordBreak-word {
	word-break: break-word !important;
}

.wordBreak-normal {
	word-break: normal !important;
}

.wordBreak-keep {
	word-break: keep-all !important;
}

.wordBreak-initial {
	word-break: initial !important;
}

.wordBreak-inherit {
	word-break: inherit !important;
}

/* BACKGROUND */

/* background color */

.bg-background {
	color: $white;
}

/* background primary */

.bg-primary-1 {
	background: $colors-primary-1;
}

.bg-primary-2 {
	background: $colors-primary-3;
}

.bg-primary-3 {
	background: $colors-primary-3;
}

.bg-primary-4 {
	background: $colors-primary-4;
}

.bg-primary-a1 {
	background: $colors-primary-a1;
}

.bg-primary-a2 {
	background: $colors-primary-a2;
}

/* background neutral */

.bg-neutral-1 {
	background: $colors-neutral-1;
}

.bg-neutral-2 {
	background: $colors-neutral-2;
}

.bg-neutral-3 {
	background: $colors-neutral-3;
}

.bg-neutral-5 {
	background: $colors-neutral-5;
}

.bg-neutral-6 {
	background: $colors-neutral-6;
}

.bg-neutral-7 {
	background: $colors-neutral-7;
}

.bg-neutral-8 {
	background: $colors-neutral-8;
}

.bg-neutral-a1 {
	background: $colors-neutral-a1;
}

.bg-neutral-a2 {
	background: $colors-neutral-a2;
}

/* background accents */

.bg-accents-1 {
	background: $colors-accents-1;
}

.bg-accents-2 {
	background: $colors-accents-2;
}

/* background success */

.bg-success-1 {
	background: $colors-success-1;
}

/* background warning */

.bg-warning-1 {
	background: $colors-warning-1;
}

.bg-warning-a1 {
	background: $colors-warning-a1;
}

/* background danger */

.bg-danger-1 {
	background: $colors-danger-1;
}

.bg-danger-2 {
	background: $colors-danger-2;
}

/* COLOR */

/* color background */

.color-white {
	color: $white !important;
}

.color-black {
	color: $black !important;
}

/* color primary */

.color-primary-1 {
	color: $colors-primary-1 !important;
}

.color-primary-2 {
	color: $colors-primary-3 !important;
}

.color-primary-3 {
	color: $colors-primary-3 !important;
}

.color-primary-4 {
	color: $colors-primary-4 !important;
}

.color-primary-a1 {
	color: $colors-primary-a1 !important;
}

.color-primary-a2 {
	color: $colors-primary-a2 !important;
}

/* color neutral */

.color-neutral-1 {
	color: $colors-neutral-1 !important;
}

.color-neutral-2 {
	color: $colors-neutral-2 !important;
}

.color-neutral-3 {
	color: $colors-neutral-3 !important;
}

.color-neutral-4 {
	color: $colors-neutral-4 !important;
}

.color-neutral-5 {
	color: $colors-neutral-5 !important;
}

.color-neutral-6 {
	color: $colors-neutral-6 !important;
}

.color-neutral-7 {
	color: $colors-neutral-7 !important;
}

.color-neutral-8 {
	color: $colors-neutral-8 !important;
}

.color-neutral-a1 {
	color: $colors-neutral-a1 !important;
}

.color-neutral-a2 {
	color: $colors-neutral-a2 !important;
}

/* color accents */

.color-accents-1 {
	color: $colors-accents-1 !important;
}

.color-accents-2 {
	color: $colors-accents-2 !important;
}

/* color success */

.color-success-1 {
	color: $colors-success-1 !important;
}

/* color warning */

.color-warning-1 {
	color: $colors-warning-1 !important;
}

.color-warning-a1 {
	color: $colors-warning-a1 !important;
}

/* color danger */

.color-danger-1 {
	color: $colors-danger-1 !important;
}

.color-danger-2 {
	color: $colors-danger-2 !important;
}

/* FILL FOR SVG */

.fill-white {
	fill: $white !important;
}

.fill-black {
	fill: $black !important;
}

/* fill primary */

.fill-primary-1 {
	fill: $colors-primary-1 !important;
}

.fill-primary-2 {
	fill: $colors-primary-3 !important;
}

.fill-primary-3 {
	fill: $colors-primary-3 !important;
}

.fill-primary-4 {
	fill: $colors-primary-4 !important;
}

.fill-primary-a1 {
	fill: $colors-primary-a1 !important;
}

.fill-primary-a2 {
	fill: $colors-primary-a2 !important;
}

/* color neutral */

.fill-neutral-1 {
	fill: $colors-neutral-1 !important;
}

.fill-neutral-2 {
	fill: $colors-neutral-2 !important;
}

.fill-neutral-3 {
	fill: $colors-neutral-3 !important;
}

.fill-neutral-4 {
	fill: $colors-neutral-4 !important;
}

.fill-neutral-5 {
	fill: $colors-neutral-5 !important;
}

.fill-neutral-6 {
	fill: $colors-neutral-6 !important;
}

.fill-neutral-7 {
	fill: $colors-neutral-7 !important;
}

.fill-neutral-8 {
	fill: $colors-neutral-8 !important;
}

.fill-neutral-a1 {
	fill: $colors-neutral-a1 !important;
}

.fill-neutral-a2 {
	fill: $colors-neutral-a2 !important;
}

/* color accents */

.fill-accents-1 {
	fill: $colors-accents-1 !important;
}

.fill-accents-2 {
	fill: $colors-accents-2 !important;
}

/* color success */

.fill-success-1 {
	fill: $colors-success-1 !important;
}

/* color warning */

.fill-warning-1 {
	fill: $colors-warning-1 !important;
}

.fill-warning-a1 {
	fill: $colors-warning-a1 !important;
}

/* color danger */

.fill-danger-1 {
	fill: $colors-danger-1 !important;
}

.fill-danger-2 {
	fill: $colors-danger-2 !important;
}

/* cursor */

.cursor-pointer {
	cursor: pointer;
}

.cursor-default {
	cursor: default;
}

.cursor-not-allowed {
	cursor: not-allowed;
}
