@import '@tpr/theming/lib/variables.scss';

@mixin inputDefault {
	background: $white;
	border: 1px solid $colors-neutral-7;
	display: flex;
	font-family: $fonts-sans-serif;
	font-size: $font-size-2;
	height: $space-10;
	outline: none;
	padding: 0 8px;
	width: 100%;
}

@mixin inputFocus {
	border: 4px solid $colors-neutral-7;
	box-shadow: 0 0 0 3px $colors-warning-1;
	padding: 0 6px;
}
