@import '@tpr/theming/lib/variables.scss';

@mixin inputDefault {
	background: $white;
	border: 0.0625rem solid $colors-neutral-7;
	display: flex;
	font-family: $fonts-sans-serif;
	font-size: $font-size-2;
	height: $space-10;
	outline: none;
	padding: 0 0.5rem;
	width: 100%;
}

@mixin inputFocus {
	border: 0.25rem solid $colors-neutral-7;
	box-shadow: 0 0 0 0.1875rem $colors-warning-1;
	padding: 0 0.375rem;
}
