@import './common.module.scss';

.inputText {
	@include inputDefault;
}

.inputText:focus {
	@include inputFocus;
}

.inputText:disabled {
	background: $colors-neutral-2;
	border-color: $colors-neutral-6;
	cursor: not-allowed;
}

.inputText-error {
	border: 0.25rem solid $colors-danger-2;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.after {
	position: absolute;
	left: 100%;
	margin-left: 0.5rem;
}

.before {
	margin-right: 0.5rem;
	flex-shrink: inherit;
}

.inputWrapper {
	flex: 1 1 auto;
	align-items: center;
}

.input-wrapper_relative {
	position: relative;
}
