@import '@tpr/theming/lib/variables.scss';

.inputText {
	font-family: $fonts-sans-serif;
	font-size: $font-size-2;
	display: flex;
	width: 100%;
	background: $white;
	height: 50px;
	outline: none;
	padding: 0 8px;
	border: 2px solid $colors-neutral-7;
}

.inputText:focus {
	border: 4px solid $colors-neutral-7;
	box-shadow: 0 0 0 3px $colors-warning-1;
	padding: 0 6px;
}

.inputText:disabled {
	background: $colors-neutral-2;
	border-color: $colors-neutral-6;
	cursor: not-allowed;
}

.inputText-error {
	border: 4px solid $colors-danger-2;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.after {
	line-height: 50px;
	margin-left: 1rem;
}
