@import './variables.scss';

.editorFontStack {
	font-family: $fonts-sans-serif;
	font-size: $font-size-2;

	h1 {
		font-size: $font-size-6;
	}
	h2 {
		font-size: $font-size-5;
	}
	h3 {
		font-size: $font-size-4;
	}
	h4 {
		font-size: $font-size-3;
	}
	h5 {
		font-size: $font-size-2;
	}
	h6 {
		font-size: $font-size-1;
	}
	p {
		color: $colors-neutral-8;
		font-weight: $font-weight-2;
		font-size: $font-size-2;
		letter-spacing: 0px;
		line-height: $line-height-3;
		margin-bottom: 1rem;
	}
	b {
		font-weight: $font-weight-3;
	}
	strong {
		font-weight: $font-weight-3;
	}
	span {
		font-size: $font-size-2;
		color: $colors-neutral-8;
		line-height: $line-height-3;
	}
	hr {
	}
	i {
		font-style: italic;
	}
	u {
		text-decoration: underline;
	}
	del {
		text-decoration: line-through;
	}
	a {
		display: inline-block;
		color: $colors-primary-3;
		font-family: $fonts-sans-serif;
		font-size: $font-size-2;
		font-weight: $font-weight-3;
		text-decoration: underline;
		cursor: pointer;
		border: none;
		line-height: $line-height-3;

		&:hover {
			color: $colors-neutral-a1;
		}

		&:focus {
			background-color: $colors-warning-1;
			box-shadow: 0 -2px $colors-warning-1, 0 4px $colors-neutral-8;
			color: $colors-neutral-8;
			text-decoration: none;
		}

		&:visited {
			color: $colors-accents-2;
			background-color: $colors-warning-1;
		}
	}
	ul > li,
	ol > li {
		color: $colors-neutral-8;
		font-weight: $font-weight-2;
		font-size: $font-size-2;
		letter-spacing: 0px;
		line-height: $line-height-3;
		margin-bottom: 1rem;
	}
	blockquote {
		background: $colors-neutral-2;
	}
	table {
		border-collapse: collapse;
		margin-bottom: 1rem;
	}
	caption,
	td,
	th {
		padding: $space-2;
		text-align: left;
		border: 1px solid $colors-neutral-6;
	}
	caption {
		border-bottom: none;
		background: $colors-neutral-3;
	}
	caption,
	th {
		font-weight: $font-weight-4;
	}
	& > :last-child {
		margin-bottom: 0;
	}
}
