@import './variables.scss';

.editorFontStack {
	font-family: $fonts-sans-serif;
	font-weight: $font-weight-1;
	font-size: $font-size-2;

	h1 {
		font-size: $font-size-6;
	}
	h2 {
		font-size: $font-size-5;
	}
	h3 {
		font-size: $font-size-4;
	}
	h4 {
		font-size: $font-size-3;
	}
	h5 {
		font-size: $font-size-2;
	}
	h6 {
		font-size: $font-size-1;
	}
	p {
		color: $colors-neutral-8;
		font-weight: $font-weight-2;
		font-size: $font-size-2;
		letter-spacing: 0px;
		line-height: $line-height-3;
	}
	b {
		font-weight: $font-weight-3;
	}
	strong {
		font-weight: $font-weight-3;
	}
	span {
		font-size: $font-size-2;
		color: $colors-neutral-8;
		line-height: $line-height-3;
	}
	hr {
	}
	i {
		font-style: italic;
	}
	u {
		text-decoration: underline;
	}
	del {
		text-decoration: line-through;
	}
	a {
		display: inline-block;
		color: $colors-primary-3;
		font-family: $fonts-sans-serif;
		font-size: $font-size-2;
		font-weight: $font-weight-3;
		text-decoration: underline;
		cursor: pointer;
		border: none;

		&:hover {
			color: $colors-neutral-a1;
		}

		&:visited {
			color: $colors-accents-2;
			background-color: $colors-warning-1;
		}
	}
	ul {
	}
	ol {
	}
	ul > li,
	ol > li {
		color: $colors-neutral-8;
		font-weight: $font-weight-2;
		font-size: $font-size-2;
		letter-spacing: 0px;
		line-height: $line-height-3;
	}
	blockquote {
		background: $colors-neutral-2;
	}
}
