/**** SCREEN SETTINGS ****/
$app-width: 73rem;
$sidebar-width: 18rem;
/**** COLORS ****/
$white: #ffffff;
$black: #000000;
/* colors primary */
$colors-primary-1: #98c4e4;
$colors-primary-2: #4a99d1;
$colors-primary-3: #006ebc;
$colors-primary-4: #0b0030;
$colors-primary-a1: #99ccd9;
$colors-primary-a2: #0381a2;
/* colors neutral */
$colors-neutral-1: #fafafa;
$colors-neutral-2: #f5f5f5;
$colors-neutral-3: #ededed;
$colors-neutral-4: #cacaca;
$colors-neutral-5: #bbbbbb;
$colors-neutral-6: #b0b0b0;
$colors-neutral-7: #585858;
$colors-neutral-8: #3d3d3d;
$colors-neutral-a1: #557b97;
$colors-neutral-a2: #54616c;
/* colors accents */
$colors-accents-1: #7469ba;
$colors-accents-2: #483b8b;
/* colors success */
$colors-success-1: #1e7e34;
/* colors warning */
$colors-warning-1: #fed100;
$colors-warning-a1: #cdd500;
/* colors danger */
$colors-danger-1: #dca1a1;
$colors-danger-2: #a91717;
$colors-danger-3: #cd2e25;
/* colors confirmation */
$colors-confirmed: #1e7e34;
$colors-unconfirmed: #a91717;

/**** FONTS ****/
$fonts-sans-serif: 'Open Sans', sans-serif;
/**** LINE-HEIGHTS ****/
$line-height-1: 1.1em;
$line-height-2: 1.125em;
$line-height-3: 1.5em;
$line-height-4: 1.511em;
$line-height-5: 1.555em;
$line-height-6: 1.565em;
/**** SPACE ****/
$space-1: 0.3125rem;
$space-2: 0.625rem;
$space-3: 0.9375rem;
$space-4: 1.25rem;
$space-5: 1.5625rem;
$space-6: 1.875rem;
$space-7: 2.1875rem;
$space-8: 2.5rem;
$space-9: 2.8125rem;
$space-10: 3.125rem;
/**** FONT SIZES ****/
$font-size-1: 0.875rem;
$font-size-2: 1rem;
$font-size-3: 1.125rem;
$font-size-4: 1.4375rem;
$font-size-5: 2.25rem;
$font-size-6: 2.8125rem;
/**** FONT WEIGHTS ****/
$font-weight-2: 400;
$font-weight-3: 600;
$font-weight-4: 700;
