@import '@tpr/theming/lib/variables.scss';

.sidebar {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	width: $sidebar-width;
	background: $white;
}

.sidebarMenu {
	border-bottom: 5px solid $colors-neutral-4;
}

.sidebarMenu:last-child {
	border-bottom: none;
}

.activeLink {
	position: relative;
}

.activeLink::before {
	content: ' ';
	position: absolute;
	left: -20px;
	top: -8px;
	height: 42px;
	width: 5px;
	background: $colors-primary-3;
}
