@import '@tpr/theming/lib/variables.scss';

.sidebar {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	width: $sidebar-width;
	background: $white;
}

.sidebarMenu {
	border-bottom: 5px solid $colors-neutral-4;
}

.sidebarMenu:last-child {
	border-bottom: none;
}

.activeLink {
	position: relative;
}

.activeLink::before {
	content: ' ';
	position: absolute;
	left: -20px;
	top: -8px;
	height: 100%;
	min-height: 40px;
	width: 5px;
	background: $colors-primary-3;
	// to hide outline from pseudo element
	box-shadow: 0px 0px 0px 1px white;
}

.nestedWrapper {

	&.collapsed {
		height: 0;
		overflow: hidden;
	}

	.nested {
		position: relative;
		
		.line {
			position: absolute;
			top: 50%;
			left: -$space-6;
			width: $space-5;
			height: 1px;
			border-bottom: 1px solid $colors-primary-3;
		}
	}
}