@import '@tpr/theming/lib/variables.scss';
@import '@tpr/core/lib/components/typography/typography.module.scss';
@import '@tpr/theming/lib/resets.module.scss';

.sidebar {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	width: $sidebar-width;
	background: $white;
	padding-left: $space-6;

	a {
		text-decoration: none;
		width: 100%;

		&:hover {
			color: $colors-neutral-a1 !important;
			text-decoration: underline;
		}

		&:focus {
			color: $colors-neutral-8 !important;
		}

		> div {
			height: 100%;
			> svg {
				min-width: 22px;
			}
		}
	}

	div.activeLink {
		position: relative;

		a {
			text-decoration: underline;

			&:hover {
				text-decoration: underline !important;
			}

			&:focus {
				color: $colors-neutral-8 !important;
				text-decoration: none;
			}
		}
		&.nested {
			a {
				color: $colors-neutral-8!important;
				text-decoration: underline !important;
			}
		}
		&.topLevel > div:not(.nestedWrapper) {
			a::before {
				content: ' ';
				position: absolute;
				left: -25px;
				top: -8px;
				height: 100%;
				min-height: 40px;
				width: 5px;
				background: $colors-primary-3;
				// to hide outline from pseudo element
				box-shadow: 0px 0px 0px 1px white;
			}
		}
		&.topLevel.withSelectedChild {
			a {
				text-decoration: none;
			}	
		}
	}

	.nestedWrapper {
		padding-left: 0!important;
		
		&.collapsed {
			height: 0;
			overflow: hidden;
		}
	
		.nested {
			&::before {
				content: '—';
				color: $colors-neutral-8;
				padding-right: 2px;
			}
			a {
				text-decoration: none;
			}
		}
	}
}

.list {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		margin: 0;
		padding: 0;
	}
}

.sidebarMenu {
	border-bottom: 5px solid $colors-neutral-4;
}

.sidebarMenu:last-child {
	border-bottom: none;
}

.label {
	@include removeMarginBottom;
}
