@import '@tpr/theming/lib/variables.scss';

.warning {
	border: 0.25rem solid $colors-danger-2;
	font-weight: $font-weight-3;

	svg {
		min-width: 1.5625rem;
		min-height: 1.5625rem;
		margin-top: 0.125rem;
	}
}

@media (max-width: 25rem) {
	.warning {
		.innerWrapper {
			flex-wrap: wrap;
		}
	}
}
