@import '@tpr/core/lib/components/typography/typography.module.scss';
// typography.module.scss includes '@tpr/theming/lib/variables.scss'

$wcag-minimum-clickable-size: 2.75rem;
$focus-ring-width: 0.25rem;
$offset-text-to-vertical-centre: 0.6rem;

.outerWrapper {
	min-height: $wcag-minimum-clickable-size + $space-2;
}

.wrapper {
	cursor: pointer;
	user-select: none;

	.innerWrapper {
		position: relative;
		padding-top: $offset-text-to-vertical-centre;
	}

	// hidden input needs to be styled this way to correctly display the focus ring in Safari
	input[type='radio'] {
		width: $wcag-minimum-clickable-size + $focus-ring-width !important;
		height: $wcag-minimum-clickable-size + $focus-ring-width !important;
		transform: translateY(-$offset-text-to-vertical-centre);
	}

	input[type='radio']:focus + .radio {
		box-shadow: 0 0 0 $focus-ring-width #ffd300;
	}

	.radio {
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 50%;
		min-width: $wcag-minimum-clickable-size;
		min-height: $wcag-minimum-clickable-size;
	}

	.label {
		color: $colors-neutral-8;
		font-weight: $font-weight-3;
		line-height: $line-height-3;
		padding-left: $wcag-minimum-clickable-size + $space-3;
		cursor: pointer;
		@include removeMarginBottom;
	}
}

.disabled {
	color: $colors-neutral-6;
	cursor: not-allowed;

	g {
		stroke: $colors-neutral-5;
		fill: $colors-neutral-1;
	}

	p {
		cursor: not-allowed;
		color: $colors-neutral-6;
	}
}

.hint {
	color: $colors-neutral-7;
	line-height: $line-height-3;
	font-size: $font-size-2;
	font-weight: $font-weight-2;
	margin-top: $space-2;
	padding-left: $wcag-minimum-clickable-size + $space-3;
	max-width: 100%;
	@include removeMarginBottom;
}

.inline {
	display: flex;
	flex-direction: row;

	& > div {
		margin-right: $space-8;
	}
}

.children {
	border-left: 0.3rem solid $colors-neutral-9;
	margin-left: 1.125rem;
	margin-top: 0.625rem;
	padding-left: 2.055rem;
}
