@import '@tpr/theming/lib/variables.scss';

.wrapper {
	display: flex;
	flex: 0 0 auto;
	align-items: center;
	cursor: pointer;
	height: 25px;
	user-select: none;

	input[type='radio']:focus + .radio {
		box-shadow: 0 0 0 4px #ffd300;
	}

	.radio {
		border-radius: 50%;
	}
}

.label {
	line-height: 27px;
	padding-left: $space-1;
	cursor: pointer;
}

.disabled {
	color: $colors-neutral-7;
	cursor: not-allowed;
}

.hint {
	color: $colors-neutral-6;
	font-size: $font-size-2;
	font-weight: $font-weight-2;
	margin-top: $space-2;
	margin-left: 55px;
}
