@import '@tpr/theming/lib/variables.scss';

.wrapper {
	display: flex;
	flex: 0 0 auto;
	align-items: center;
	cursor: pointer;
	height: 25px;
	user-select: none;

	// input[type='radio']:focus + .radio {
	// 	outline: 5px solid #ffd300;
	// }

	input[type='radio']:focus + .radio {
		box-shadow: 0 0 0 4px #ffd300;
	}

	input[type='radio']:checked + .radio {
		// outline: 2px dashed orange;
	}

	.radio {
		border-radius: 50%;
	}
}

.label {
	line-height: 27px;
	padding-left: $space-2;
	cursor: pointer;
}

.wrapper:disabled {
	cursor: not-allowed;
	color: $colors-neutral-9;
}

.hint {
	color: $colors-neutral-4;
	font-size: $font-size-2;
	margin-top: $space-2;
	margin-left: 50px;
}
