@import '../input/common.module.scss';

.relative {
	position: relative;
}

.autocomplete {
	> label {
		> div {
			// autocomplete-wrapper

			> div {
				width: 100%;
				font-size: $font-size-2;

				input {
					@include inputDefault;

					&:focus {
						@include inputFocus;
					}

					&.hiddenInput {
						display: none;
						visibility: hidden;
						border: none !important;
						height: 0;
						width: 0;
						padding: 0;
						overflow: hidden;
						box-shadow: none !important;
					}
				}

				ul {
					display: none;
					list-style-type: none;
					border: none;
					box-shadow: none;
					margin-top: 2px;

					li {
						padding: $space-2 $space-3;
						cursor: pointer;

						&:hover {
							background-color: $colors-primary-3;
							color: $white;
						}
					}
				}
			}
		}
	}

	&.panelVisible {
		> label {
			> div {
				// autocomplete-wrapper

				> div {
					ul {
						display: block;
						border: 1px solid #ddd;
						box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
					}
				}
			}
		}
	}

	&.hide {
		animation-name: hideAutocomplete;
		animation-duration: 1s;
		animation-iteration-count: 1;
		max-height: 0;
		overflow: hidden;
	}
}

@keyframes hideAutocomplete {
	0% {
		max-height: 100px;
		opacity: 0.2;
	}
	100% {
		max-height: 0;
		opacity: 0;
		overflow: hidden;
	}
}
